.isObstacle {
    background-color: var(--forth-color);
}

.isVisited {
    background-color: #276c99;
}

.isPath {
    background-color: #11d888;
}

.isUnknown {
    background-color: var(--sixth-color);
}

.box {
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

.boxChildrenRow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

